@{
    ViewBag.Title = "About";
}

<div class="section">
    <div class="container">
        <h2>Our Brand FitFlex</h2>
        <div class="row">
            <div class="col-md-12">
                In the recent past, the FitFlex apparel journey began with one man’s passion, dedication to the art and craft of creating sportswear and leather products that has urged generations devoted to his bequest. Today and this is the continuity process of our vision and core value of creating products that endure the test of time, high ranking craftsmanship and a single-minded dedication to quality of manufacturing.
                <img src="/Assets/img/logo.png" style="width:365px;height:90px;" class="pull-right" />
                <br />
                <b>No compromise on Performance.</b>
                FitFlex is a brand whose aims to deliver their products directly to the B2B businesses like Individuals, clubs, associations and bulk importers can order from our available stock or our manufacturing team work on the order and meet the delivery time of the customer. There are wide ranges of ‘Customize your outfit’-concept allows our customers to create their own personal outfit. Our printing and sublimation facilities offer a wide variety of options to satisfy our customers’ needs. Our work is fully professional and meet the etiquette of honesty, once a customer contact with FitFlex then see our professionalism and know-how a new chapter began. FitFlex evolved to a price-conscious sports brand with a unique vision and personality.
            </div>
            @*<div class="col-md-4">

            </div>*@
        </div>
        <br /><br />
        Our company label turns in an exclusive collection of outerwear, wovenand knits in a wide range of styles, fabrics, colors and sizes. Our work is immense on different areas of Sportswear, Leather garments, gloves and bags manufacturing. By standardization it is carefully to see (proofread) each product designed with highest quality. Express quality and unbeatable prices.These garments are made for weather conditions and everyday use. Experience the benefits of fully customized apparel, made to the highest quality standard. Enjoy the flexibility of mixing and matching colors and fabrics. This one is selected from the both domestic and import production. Our sportswear collection is made from the finest authentic natural skins which all select by our clients from catalog.
        <br /><br />
        FitFlex works with worldwide Sportswear entities label using the most professionally. Unremitting the favorite stand the test of time in the most in-depth conditions. This label delivers with durability and caliber. Our collection covers your active, collegiateand leisure lifestyle delivering softness with unmatched durability. Comfort garments for the best moments in life.
        From our warehouses we supply our unique FitFlex branded products (sportswear, leather, gloves and other accessories) to stockiest and category buyers in a wide array of sectors. With an extensive range of products, FitFlex offers QUALITY, ORIGINALITY and AFFORDABILITY all through the line.

    </div>
</div>



