
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">

    <div class="container">

        <h2>Frequently Asked Questions?</h2>


        <h5>Which manufacturer are you OEM or ODM?</h5>
        <p>
            We are original manufacturer of Sportswear and Leather and we offer both services.
            <br />Service#1 OEM(original equipment manufacturer) If buyer has his/her own design & want us to manufacture it. Service#2 ODM(original design manufacturer) If Customer wants to buy a product designed & manufactured by us.
        </p>
            
        <h5>Do you own any brand?</h5>
        <p>
            Yes, we have our own brand name FitFlex have different products listings are available on our company website <a href="http://www.fitflexapparel.com/">http://www.fitflexapparel.com</a>. We manufacture products for other brands and other entities like (Clubs, Companies and different sports teams)
        </p>
            
        <h5>Why your rates are very low, is there any quality difference?</h5>
        <p>
            Firstly, we are not distributor or Pseudo exporter who buy products from manufacturers and then sell. In between customers and us there is no any mediator involved and thus profit doesn’t divide in two places, we directly approach buyers that’s why our rates are low. Secondly, we don’t compromise on quality and all our products are 100% exact as shown in the pictures. Quality is our first priority.
        </p>
        <h5>Do you send sample before commencement of orders?</h5>
        <p>
            Yes, before commencing orders we ship a prototype to buyer for better consideration and confirmation of quality material. Customer will pay for sample and the shipment charges would be endured by us.
        </p>
        <h5>Do you deal with custom orders?</h5>
        <p>
            Yes, we always encourage custom orders. All our working is completely customized from Sizing, Coloring to Printing/Logos.
        </p>
        <h5>How do I get quote/price for a product?</h5>
        <p>
            You have to email us info@fitflexapparel.com the model or picture of the product you want to get quote on. Then you will receive a reply with a pricelist.
        </p>
        <h5>Where can I find your size chart?</h5>
        <p>
            Due to variation in sizes for different regions we don’t have any standard size chart. We only work on customer’s provided sizing and details. Anyhow our branded products have their own sizes as compare to different customers of worldwide. Still have a question? Send us an-email!
            info@fitflexapparel.com
        </p>
    </div>
</div>