@model IEnumerable<FitFlexApparel.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Home</a></li>
            <li class="active"><a href="/Blogs/Index">Blogs</a></li>
        </ul>
    </div>
</div>

<section style="padding-top:20px;">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6" style="padding:20px;">
                        <div class="row">
                            <div class="col-md-2">
                                @if (item.Image != null)
                                {                                
                                    <a href="/Blogs/Read/@item.Id"><img style="border:solid;width:50px;height:50px;" src="/UploadedImages/@item.Image" /></a>
                                }
                                else
                                {
                                    <a href="/Blogs/Read/@item.Id"><img style="border:solid;width:50px;height:50px;" src="/Assets/img/BlogIcon.png" /></a>
                                }
                            </div>
                            <div class="col-md-10">
                                <h3><a href="/Blogs/Read/@item.Id">@item.Blog_Name</a></h3>
                                <h5>@item.Blogger_Name - @item.Written_On.Value.ToString("dd/MM/yyyy")</h5>
                            </div>
                        </div>
                        <hr />
                    </div>
                    
                }

            </div>
        </div>
    </div>
</section>