<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Fitflex Apparel</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/Assets/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/Assets/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/Assets/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/Assets/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/Assets/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <meta property="og:url" content="fitflexapparel.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Fitflex Apparel" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="http://fitflexapparel.com/Content/Screenshot_2019-08-04-17-44-15.png" />

</head>

<body>
    
    @Html.Action("Header", "Home")

    @RenderBody()

    @Html.Action("Footer","Home")
    <!-- jQuery Plugins -->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/slick.min.js"></script>
    <script src="/Assets/js/nouislider.min.js"></script>
    <script src="/Assets/js/jquery.zoom.min.js"></script>
    <script src="/Assets/js/main.js"></script>
   
    <script>
        function AddToWishlist(id) {

            $.ajax({
                url: "/Wishlists/AddToWishlist",
                type: 'POST',
                data: { id:id },
                success: function (result) {
                    if (result == "Success") {
                        alert("Successfully added in Wishlist!");
                    }
                    else if (result == "LoginError") {
                        alert("Please create an account or login to existing account to add this product!");
                        window.location = "/Account/Login?url=" + window.location.href;
                    }
                    else
                    {
                        alert(result);
                    }
                },
                error: function () {
                    alert("Something went wrong! (please make sure you are connected with Internet OR Reload this page)");
                }
            });

        }
        function RemoveFromWishlist(id) {

            $.ajax({
                url: "/Wishlists/RemoveFromWishlist",
                type: 'POST',
                data: { id: id },
                success: function (result) {
                    if (result == "Success") {
                        alert("Successfully Removed from Wishlist!");
                    }
                    else if (result == "LoginError") {
                        alert("Please create an account or login to existing account to add this product!");
                        window.location = "/Account/Login?url=" + window.location.href;
                    }
                    else {
                        alert(result)
                    }
                },
                error: function () {
                    alert("Something went wrong! (please make sure you are connected with Internet & your browser is compatible)");
                }
            });

        }
    </script>

    @RenderSection("scripts", required: false)

</body>

</html>
