@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Register New Admin</h4>
                <a href="/Account/AdminRegister" class="btn btn-primary">New Admin</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Register New User</h4>
                <a href="/Account/Register" class="btn btn-primary">New User</a>
            </div>
        </div>
    </div>
</div>